.recipe {
    border-radius: 20px;
    height: 420px;
    border: 1px solid var(--primary);
    cursor: pointer;

    i {
        font-size: 20px;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }

        h3 {
            color: var(--primary);
        }
    }
}

.imageContainer {
    height: 260px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

    img {
        transition: 1s transform;
        width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recipeTitle {
    height: 100px;
    transition: 0.2s color;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}