@use '../../assets/styles/mixins' as mixin;

header {
    position: relative;
    height: 75px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-nav);
    color: var(--primary);
    background-color: white;

    .headerLogo {
        max-width: 140px;
        cursor: pointer;
    }

    .headerList {
        @include mixin.sm-lt {
            display: none;
        }
    }

    .icone {
        fill: var(--primary);
    }

    nav {
        @include mixin.sm-lt {
            display: none;
        }

        li {
            a {
                color: var(--primary);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-style: wavy;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 10px;
                }
            }
        }
    }

    .headerBurger {
        display: none;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
            transition: opacity 0.2s;
        }

        @include mixin.sm-lt {
            display: block;
            height: 25px;
            fill: var(--primary);
        }
    }
}