@use '../assets/styles/mixins' as mixin;

header {
    padding: 10px 20px;
    box-shadow: var(--box-shadow-nav);
    color: var(--primary);
    background-color: white;

    img {
        max-width: 140px;
    }

    .headerList {
        @include mixin.xs {
            display: none;
        }
    }

    .headerBurger {
        display: none;

        @include mixin.xs {
            display: block;
            font-size: 22px;
        }
    }
}