@use '../assets/styles/mixins' as mixin;

header {
    position: relative;
    height: 75px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-nav);
    color: var(--primary);
    background-color: white;

    img {
        max-width: 140px;
    }

    .headerList {
        @include mixin.xs {
            display: none;
        }
    }

    .headerBurger {
        display: none;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
            transition: opacity 0.2s;
        }

        @include mixin.xs {
            display: block;
            font-size: 22px;
        }
    }
}