// Se trouve dans "components" car c'est la css d'un composant du "Header"

.menuContainer {
    position: absolute;
    top: 88px;
    right: 10px;
    width: 200px;

    li {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 20px;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            background-color: var(--primary);
            color: white;
        }
    }
}