@use 'mixins' as mixin;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    color: var(--text-color);
    background-color: var(--gray-2);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    background-color: red;

    @include mixin.lg-lt {
        max-width: 820px;
    }

    @include mixin.md-lt {
        max-width: 770px;
    }

    @include mixin.sm-lt {
        max-width: 450px;
    }

    @include mixin.xs {
        max-width: auto;
    }
}