.home {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--gray-2);

    .homePicture {
        max-width: 100%;
        height: 400px;
        background-image: url(../../assets/images/image-restaurant.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 70%;
    }

    .homeText {
        background-color: var(--primary);
        border-radius: 20px;
        color: white;
    }
}