@use '../../assets/styles/mixins' as mixin;

.contact {
    max-width: 100%;
    height: calc(100vh - 134px);
    background-image: url(../../assets/images/femme-occupee.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .contactChildren {
        height: 100%;

        form {
            @include mixin.sm-lt {
                align-items: center;
            }

            input {
                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.2s;
                }
            }

            input,
            button {
                width: 30%;
                border-radius: 20px;
                border: 1px solid var(--primary);

                @include mixin.lg {
                    width: 40%;
                }

                @include mixin.md {
                    width: 40%;
                }

                @include mixin.sm-lt {
                    width: 70%;
                }
            }

            button {
                background-color: white;

                &:hover {
                    background-color: var(--primary);
                    transition: background-color 2s;
                    color: white;
                }
            }
        }
    }
}